{% extends 'base.html'%}
{% block title%}Home page{% endblock title%}
{% block body%}
<div class="row">
    <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dicta totam doloribus quas sint obcaecati sed soluta magni doloremque, corrupti architecto quia! Unde ea ab vel non optio, quas reprehenderit.</div>
    <div class="col-sm-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quidem, nulla animi itaque veritatis asperiores. Sed qui cupiditate, repellat quisquam, ex quidem necessitatibus dicta esse reprehenderit quod quis, amet facere?</div>
</div>

{% endblock body%}